<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
	<link rel="stylesheet" type="text/css" href="static/login.css">
</head>
<body>
<form method="POST">
	<div class = "formbox">
		<h1> Convertor Storage LOGIN </h1>
		<input name="username" type="text" placeholder="Email:" class = "data">
		<input name="password" type="password" placeholder="Password:" class = "data">
		<button type="submit" class="btn">Login</button>
		<p>Forgot your password? <a href = "/changePassword"><u style="color:black;">Click Here!</u></a></p>
		<p>Don't have an account? <a href="/register"><u style="color:black;">Create an administrator account now!</u></a></p>
		<p style="color:red">{{login_error}}</p>
	</div>
</form>
</body>
</html>